.display_text_course_introduction {
	max-height: 55px;
}
.display_text_course_introduction, .show_text_course_introduction{position: relative; 
	line-height: 28px;
	color: #7d7d7d;
    font-size: 16px;
    margin-top: 20px;
	overflow: hidden;
	width: 690px;
	word-wrap:break-word;}
.lecturer-conte-div{overflow-wrap: break-word;}
.bareakall{word-break:break-all;}
.breakword{word-wrap:break-word;}
