/* nav */
.createcourse-nav{ margin-bottom:30px;}
.createcourse-div{ width:1200px; height:auto;margin:0 auto 90px; }
.createcourse-div .tit { color: #272727;line-height: 35px;min-height:40px;font-size: 36px;text-align: center; margin: 60px auto; font-family: "Hiragino Sans GB","Microsoft Yahei",arial,瀹嬩綋,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; width:1000px; }
.createcourse-firststep-div .hometit-p{ color:#272727; line-height:48px; font-size:36px; text-align:center; margin:0px 0 40px; }
.createcourse-div .stepdiv{ border-bottom:2px solid #dadada; margin:0px auto 0; padding:0 92px;}
.createcourse-div .stepdiv ul li{width:155px; float:left; margin:0 7px;}
.createcourse-div .stepdiv ul li a{width:155px; padding:0px 0px 20px;text-align:center; font-size:18px; color:#fff; position:relative; top:2px; display:inline-block;}
.createcourse-div .stepdiv ul .cur{ border-bottom:2px solid #1aa1b5;}
.createcourse-div .stepdiv ul li .cur:hover{ border-bottom:2px solid #0e8ea1; transition: background 0.2s ease-in 0s; }
.createcourse-div .stepdiv ul li a:hover{ border-bottom:2px solid #b9bbbb; transition: background 0.2s ease-in 0s; }
.createcourse-div .stepdiv ul .cur .stepfont{ color:#1aa1b5;}
.createcourse-div .stepdiv ul li a .stepfont{width:155px; text-align:center; color:#dedede; margin-bottom:12px; display:inline-block; line-height:20px;}
.createcourse-div .stepdiv ul li a  .stepnav{ display:inline-block;padding:7px 0; width:155px;text-align:center; height:21px; line-height:21px; color:#fff; background:#c9caca;  border-radius: 4px; font-size:14px; transition: background 0.2s ease-in 0s; }
.createcourse-div .stepdiv ul li a:hover .stepfont{color:#b9bbbb;}
.createcourse-div .stepdiv ul li .cur .stepnav{ background:#1aa1b5;}
.createcourse-div .stepdiv ul li a:hover  .stepnav{background:#b9bbbb;}
.createcourse-div .stepdiv ul .cur:hover .stepnav{ background:#0e8ea1;}
.createcourse-div .stepdiv ul li .cur:hover .stepfont{ color:#0e8ea1; }
/* nav */
textarea{ height:40px; color:#999;}
input{ color:#999;}
 input.blur, textarea.blur{ color:#000;}
/* firststep start*/
.stepconter-div{ padding:0 100px;}
.stepconter-div .stepconte-ul>li{ margin-bottom:20px;}
.stepconter-div>ul>li .icotit_div{  margin-bottom:10px; position:relative;}
.stepconter-div .rightico, .stepconter-div .hintico, .stepconter-div .questionmark-ico, .addinstructor .addico, .icotit_div .red-hintico, .coursetitle .upload-div .editico,  .faceLecture-title .uparrow, .faceLecture-title .downarrow, .lectereaddico-div .lectereaddico, .information-div .informationdelete-ico{background:url( http://image.zhihuishu.com/testzhs/able-commons/demo/201609/0c16b625ed794bffb6a68621849561a0.png) no-repeat; display:inline-block;}
.faceLecture-div .faceLecturedeleteico{background:url( http://image.zhihuishu.com/zhs_yanfa_150820/able-commons/demo/201609/9ccc844843a44ed99a9788a73e0910a8.png) no-repeat; cursor:pointer;}
.createcourse-firststep-div .progresstree_div .trees-btn, .progress-tree-wrap .viewcourse-ico, .hometit-p .editico{background:url( http://image.zhihuishu.com/testzhs/able-commons/demo/201609/96879291e8ce464caa8d9b033168df11.png ) no-repeat; display:inline-block;}
.addinstructor { cursor:pointer;}
.assessstrategylist-ul li .progressbar-redico, .assessstrategylist-ul li .progressbar-blueico, .assessstrategylist-ul li .progressbar-yellowico, .assessstrategylist-ul li .progressbar-greenico, .forum-div .progressbar-grayico{ background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/de7c275411ca4c68b7e2aaf48af5380f.png) no-repeat; display:inline-block;}
.stepconter-div .rightico{ background-position:0 0; width:18px; height:16px; margin-right:10px; position:absolute; left:0px; top:3px;  }
.stepconter-div .hintico {background-position:-23px 0; width:18px; height:25px; margin-right:10px;  position:absolute; left:3px; top:0px;}
.stepconter-div .questionmark-ico{ background-position:-41px 0; width:15px; height:16px;  margin:2px 0 0 10px; }
.stepconter-div .coursetitle{ width:970px; margin-left:30px;}
.stepconter-div .coursetitle .coursetitle-input{  width:100%; height:30px;  border:1px solid #e2e2e2;}
.stepconter-div .coursetitle .coursetitle-input input{ width:926px; height:20px; border:0;}
.stepconter-div .coursetitle .courseimage{ background:url(http://image.zhihuishu.com/zhs_yanfa_150820/able-commons/demo/201608/3860c227729d4e36b72eb344731d822a.jpg) no-repeat; width:223px; height:125px; display:inline-block;}
.stepconter-div .coursetitle .video-image{background:url(http://image.zhihuishu.com/testzhs/ablecommons/demo/201609/1c0f2edeb5aa4b808dc66adee346d8c0.jpg) no-repeat;}
.stepconter-div>ul>li .icotit_div .tit-p{ margin-left:30px;color: #595757;font-size: 16px;font-weight: 700;line-height: 20px;}
.stepconter-div  .wordlimit{ width:30px; height:26px; margin:1px 1px 0 0; display:inline-block; border:1px solid #b5b5b5; background:#dbdada; text-align:center; line-height:26px; color:#595757; font-size:14px;}
.stepconter-div .coursetitle .institution_input{ width:220px; height:20px;}
.stepconter-div .coursetitle .institution_input40{ width:40px; height:20px;}
.stepconter-div .coursetitle .lecturesdiv{ margin-bottom:15px;}
.stepconter-div .coursetitle .lecturesdiv p{ color:#cdcdcd; font-size:16px; margin-bottom:15px; line-height:20px;}
.lecturesdiv select{ width:170px; padding:5px; border:1px solid #e2e2e2;}
.coursetitle .information-div{  padding:10px; height:auto; overflow:hidden; width:100%; margin-bottom:15px; border:1px solid #e2e2e2; position:relative;}
.coursetitle .information-div:hover .informationdelete-ico{ background-position:-50px -53px; width:16px; height:16px; position:absolute; right:10px; top:15px; cursor:pointer;}
.coursetitle .information-div .informationdelete-ico:hover{ background-position:-71px -53px;}
.coursetitle .information-div .information-l{ background:url(http://image.zhihuishu.com/testzhs/ablecommons/demo/201611/516a68016a10459e996b269d672feefa.jpg) no-repeat; width:115px; height:141px; margin-right:10px;cursor:pointer;}
.information-r ul li .fullname, .information-r ul li .title{margin-bottom:10px; width:140px; height:20px;}
.information-r ul li .personalprofile{  width:830px; height:auto; resize:none}
.addinstructor .addico{ background-position:-60px 3px; width:15px; height:15px; margin-right:10px; }
.nextbtn-div{height:auto; overflow:hidden; margin:80px 0 0 130px;}
.coursetitle .upload-div{cursor: pointer;height: 125px;margin-right: 25px;position: relative;width: 223px;}
.coursetitle .upload-div .editico{ background-position:0px -26px; width:23px; height:23px; position:absolute !important; top:3px; right:3px;}
.coursetitle .qq-upload-button-hover{background-position:-30px -27px !important;}
/* firststep end*/
/* secondstep start*/
.createcourse-home-div{ background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/fbb0e871b21544d7b29bc32e6f2e495f.png) no-repeat; width:1200px; height:509px; position:absolute; top:207px; left:0; z-index:2;}
.createcourse-firststep-div{ padding:0 100px; margin:95px 0 270px; width:1000px; height:auto; overflow:hidden; margin:auto;}
.createcourse-firststep-div .content-rigth .tit{ color:#333; line-height:40px; font-size:40px; margin-bottom:35px;}
.createcourse-firststep-div .content-right ul li  a{  border-radius: 4px; padding:10px 14px; width:285px; height:40px; line-height:40px;  color:#fff; font-size:20px; display:inline-block; transition: background 0.2s ease-in 0s;}
.createcourse-firststep-div .content-right ul li .graybg{background:#d2d2d2; cursor:default;}
.createcourse-firststep-div .content-right ul li{margin-top:18px; width:315px; height:60px; }
.createcourse-firststep-div .content-right ul li .bluebg{ background:#d2d2d2;} 
.createcourse-firststep-div .content-right ul li  .bluebg:hover{ background:#158595;}
.progresstree_div .homepage-show{display:none;color:#6ddfb2; font-size:18px; line-height:20px; position:absolute; bottom:220px; right:5px; text-shadow:1px 1px 2px rgba(0,0,0,.2);}
.progresstree_div .homepage-show:hover{color:#62d0a5;}
.progresstree_div .progress-tree-wrap{display:inline-block;width:541px;height:640px;}
.progresstree_div .percentfont{ color:#878787; font-size:42px; line-height:35px; display:inline-block; position:absolute; bottom:42px; left:225px; width:110px; text-align:center;}
.hometit-p .editico{ background-position: -23px -283px;height: 25px;margin-left: 30px;width: 18px;}
.coursetit-input{ width:1000px; height:auto;margin:0px auto 20px; position:relative; z-index:2; }
.coursetit-input input{ border:1px solid #1aa1b5; width:100%; height:30px; line-height:30px; padding:12px 0 12px 10px;  border-radius: 4px; font-size:24px;animation:myfirst 5s;
-moz-animation:myfirst 1s; /* Firefox */
-webkit-animation:myfirst 1s; /* Safari and Chrome */
-o-animation:myfirst 1s; /* Opera */ }
@keyframes myfirst
{
0%   {border:1px solid #1aa1b5;}
25%  { border:1px solid #e2e2e2;}
50%  {border:1px solid #1aa1b5;}
100%  {border:1px solid #e2e2e2;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {border:1px solid #1aa1b5;}
25%  {border:1px solid #e2e2e2}
50%  {border:1px solid #1aa1b5;}
100%  {border:1px solid #e2e2e2;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {border:1px solid #1aa1b5;}
25%  {border:1px solid #e2e2e2}
50%  {border:1px solid #1aa1b5;}
100%  {border:1px solid #e2e2e2;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {border:1px solid #1aa1b5;}
25%  {border:1px solid #e2e2e2}
50%  {border:1px solid #1aa1b5;}
100%  {border:1px solid #e2e2e2;}
}
.trees-btn .delete-tit{ background:#7c4c05; color:#fff; font-size:18px; line-height:23px; position:absolute; bottom:12px; left:87px; text-indent:4px;border-top-right-radius: 4px; border-bottom-right-radius: 4px;height:24px;} 
.progress-tree-wrap{width:631px;height:640px;}
.treesbtn-span{position:absolute;bottom: 1px;right: 14px; display:inline-block; width:85px; height:129px;}
.progresstree_div{ width:541px; height:640px; position:relative; z-index:3;}
.progress-tree-wrap:hover .homepage-show{display:block;}
.progress-tree-wrap .viewcourse-ico{ background-position:-2px -282px; width:14px; height:18px;}
.icotit_div .red-hintico{ background-position:-110px 0; width:11px; height:13px; margin-right:18px;}
.icotit_div .redhint-p{ color:#d43c2a; font-size:14px; width:971px;}
.progresstree-0,.progresstree-1-10,.progresstree-11-20,.progresstree-21-30,.progresstree-31-40,.progresstree-41-50,.progresstree-51-60,.progresstree-61-70,.progresstree-71-80,.progresstree-81-90,.progresstree-91-99,.progresstree-100{width:541px; height:554px;}
.createcourse-firststep-div  .progresstree_div .trees-btn{ background-position:0 -142px; width:90px; height:129px; position:absolute; bottom:1px; right:-90px;cursor:pointer;}
.progresstree-0{ background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/c8f8dde4f78149628b690f62697ff54e.png) no-repeat;}
.progresstree-1-10{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/f379c3e981d245eb93412a1156a36843.png) no-repeat;}
.progresstree-11-20{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/7631b211a90b44e6b784c33852a133e1.png) no-repeat;}
.progresstree-21-30{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/4c9d2a24eb0d413bba4b3a7793eef1c0.png) no-repeat;}
.progresstree-31-40{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/bc2ece14675e4fc6b7f38341cac60893.png) no-repeat;}
.progresstree-41-50{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/078a26eaf917447aa546e58a43bea198.png) no-repeat;}
.progresstree-51-60{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/cf928ebb55014140a3b831eb44babc94.png) no-repeat;}
.progresstree-61-70{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/e2d10c64c7ea46e38972ea82ac4b2d37.png) no-repeat;}
.progresstree-71-80{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/0ac5ba047a0945aea4cd9fe95c76ad07.png) no-repeat;}
.progresstree-81-90{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/f368b32890eb4893938b2c69265980ba.png) no-repeat;}
.progresstree-91-99{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/382c7eb4b9e34481a3922b239b303e48.png) no-repeat;}
.progresstree-100{background:url(http://image.zhihuishu.com/testzhs/able-commons/demo/201609/03696afc75d24f0da47e068677c01f04.png) no-repeat;}
.createcourse-firststep-div .progresstree_div .trees-btn:hover {background-position:0 0; width:90px; height:129px; position:absolute;}
.createcourse-firststep-div{ margin:100px auto; position:relative;}
.createcoursehome-wrap{}
.createcoursehome-div{padding:100px auto; position:relative; padding:0 100px 0 100px; width:1000px;}
.content-right{ position:relative; z-index:3; margin:95px 0 0 0;}
.content-left{}
/* secondstep end*/
/* fourstep start*/
.faceLecture-div{ width:100%; height:auto; overflow:hidden; position:relative;}
.faceLecture-title{ background:#1aa1b5; border-radius: 4px; height:25px; padding:10px 20px;  font-size:18px; color:#fff; line-height:23px; position:relative; cursor:pointer;}
.faceLecture-div:hover .faceLecturedeleteico{ background-position:-53px -22px; width:22px; height:22px; position:absolute; top:10px; right:55px;}
.faceLecture-div .faceLecturedeleteico:hover{background-position:-73px -22px;}
.faceLecture-title sup{ margin-right:10px;font-size:12px; line-height:16px;}
.faceLecture-title .deleteico:hover{background-position:-73px -22px;}
.faceLecture-title .uparrow, .faceLecture-title .downarrow{position:absolute;  right:22px; width:15px; height:11px;}
.faceLecture-title .uparrow{ background-position:0 -52px; top:17px;}
.faceLecture-title .downarrow{background-position:-22px -54px; top:19px;}
.faceLecture-content{ background:#fbfbfb; padding:20px 50px 0 30px; border:1px solid #c9c9c9; border-top:0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; height:auto; overflow:hidden; position:relative; top:-2px;}
.faceLecture-content .themediv{border: 1px solid #e2e2e2;height: 30px;width: 100%;}
.faceLecture-content .themediv input{ border: 0 none;height: 20px;width: 845px;}
.faceLecture-content ul li{ margin-bottom:20px;}
.faceLecture-content ul li p{ color:#595757; font-size:14px; line-height:20px; margin-bottom:10px;}
.teachingmodel-div select{ width:255px; padding:5px; border:1px solid #e2e2e2;}
.stepconter-div .teachingrequirements-div .institution_input{width:230px; height:20px;}
.faceLecture-content ul li .Savebtn{ background:#54c93e;}
.faceLecture-content ul li .Cancelbtn{ background:#b5b5b7;}
.faceLecture-content ul li .Savebtn:hover{background:#4bb238;}
.faceLecture-content ul li .Cancelbtn:hover{ background:#a5a5a6;}
.faceLecture-content ul li .Savebtn, .faceLecture-content ul li .Cancelbtn{display:inline-block;transition: background 0.2s ease-in 0s;color:#fff; width:72px;border-radius: 4px; text-align:center; padding:5px 0; height:20px; line-height:20px;}
.lectereaddico-div{border-radius: 4px; background:#1aa1b5; padding:10px 20px; height:25px; line-height:23px; color:#fff; width:280px; display: inline-block; font-size:18px;}
.lectereaddico-div .lectereaddico{background-position:-105px -27px; width:20px; height:21px; margin:2px 10px 0 0;}
.lectereaddico-div:hover{transition: background 0.2s ease-in 0s; background:#0e8ea1;}
.teachingmodel-div .prerequisite_text{ width:876px;}
.stepconte-ul li .coursetitle{ margin-bottom:15px;}
/* fourstep end*/
.textareaposition{position: absolute; visibility: hidden; }
.textareapositionblock{ display:block;}
.qq-upload-button-hover{ background:none !important;}


/* .course_hometite_span{max-width:840px;display: inline-block;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
 */
 
 
 /*涓婁紶缁勪欢鎻愮ず妗嗘牱寮�*/
.qq-progress-bar-selector{ background:#1aa1b5 !important;}
#aspupload .headbar{background:#1aa1b5 !important;}
#aspupload{ border:1px solid #0e8ea1 !important;}

